.navbar{
    display:flex;
    justify-content:space-between;
}

.logo{
    margin-left: 1rem;
    color:#f1b409;
    font-size: 2rem;
    font-weight: bold;
}
.logo:hover{
  color: #c79408;
}

.navlinks {
    display: flex;
    list-style: none;
  }
  
  .hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 1rem;
  }

.sideBar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 30%;
    width: 100px;
    margin-top:30px;
    margin-right:16px;
    background-color:#131212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
  }
  
  .sideBar.open {
    right: 0;
  }
  
  .sideBar .navlinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .link{
    color:white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.3s ease;
  }

  .link:hover {
    color:#c79408;
    text-decoration: line-through;
  }

  .closebutton {
    position: absolute;
    top: 0px;
    right:0px;
    margin-top:-4px;
    margin-right:2px;
    font-size: 2rem;
    background: none;
    border: none;
    color:white;
    cursor: pointer;
}

/* responsive for xsm */
@media (min-width: 320px){
  .logo{
    color:black;
    margin-left: 2rem;
    font-size: 2rem;
}

.hamburger {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-right: 1rem;
}

.sideBar {
  top: 0;
  right: -100%;
  height: 40%;
  width: 120px;
  margin-top: 37px;
  margin-right:16px;
  transition: right 0.3s ease;
}

.link{
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navlinks {
  margin-top: 40px;
}

.closebutton {
  top:0;
  right:2px;
  margin-top: -4px;
  font-size: 2rem;
}
}

/* mobile screen */
@media (min-width:420px){
  .navbar{
    height: 5rem;
  }
  .navcontainer{
    margin-top: 25px;
  }
  .hamburger{
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .sideBar {
    height: 28%;
    width: 170px;
    margin-top: 30px;
  }
  .link{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: -20px;
  }
}

/* responsive for  md*/
@media (min-width: 760px){
  .logo{
    margin-left: 3rem;
    font-size: 2.5rem;
}

.hamburger {
  font-size: 2rem;
  margin-top: 15px;
  margin-right: 1rem;
}
}

/* responsive for lg */

@media (min-width: 1024px){
  .logo{
    margin-left: 3rem;
    color:black;
    font-size: 3rem;
    font-weight: bold;
}

.hamburger {
  font-size: 2.5rem;
  margin-top: 15px;
  margin-right: 2rem;
}

.sideBar {
  top: 0;
  right: -100%;
  height: 50%;
  width: 140px;
  margin-top: 47px;
  margin-right:26px;
  transition: right 0.3s ease;
}

.link{
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
}

/* responsive for xl */
@media (min-width: 1280px){
  .logo{
    margin-left: 6rem;
    font-size: 3.5rem;
}

.hamburger {
  font-size: 3.5rem;
  margin-right:5rem;
}

.sideBar {
  top: 0;
  right: -100%;
  height: 45%;
  width: 200px;
  margin-top: 47px;
  margin-right:34px;
  transition: right 0.3s ease;
}

.link{
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}
}

@media (max-width:640px){
  .navbar{
    background-color: #000000;
  }
  .logo{
    color: #f1b409;
  }

  .hamburger{
    color:white;
  }

  .sideBar{
    background-color: #131212;
  }

  .closebutton{
    color:white;
  }

  .link{
    color:#f1b409;
  }
}
