.projects_section{
    padding-top: 12rem;
}
.work{
    font-size: 1.2rem;
    text-align: center;
    color:#f1b409;
    font-weight: bold;
}
.workHeading{
    margin-top: -15px;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
}
.portfolio{
    display: block;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}
.portfolio2{
    display:none;
}
.images{
    width: 90%;
    height: 13rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3rem;
    box-shadow:2px 5px 10px black;
}
.li{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.li_1{
    text-decoration: none;
    color:white;
    font-weight: 900;
}
.li:hover{
    color:white;
}
/* mobiles screen */
@media (min-width:430px){
    .work{
        margin-bottom: 10px;
    }
}
@media (min-width:550px){
    .images{
        width: 80%;
        margin-left: 4rem;
        margin-right: 4rem;
        height: 20rem;
        box-shadow:2px 5px 10px black;
    }
}
@media (min-width:420px){
    .portfolio{
        margin-left:20px ;
    }
}
@media (min-width:850px){
    .portfolio{
        display: none;
    }

    .portfolio2{
        display: block;
        padding-top: 5rem;
    }
    .row1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .row2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .image1{
        width: 45%;
        height: 17rem;
        margin-bottom: 5rem;
        box-shadow: 2px 5px 10px black;
    }
    .image2{
        width: 45%;
        height: 17rem;
        box-shadow: 2px 5px 10px black;
        margin-bottom: 5rem;
    }
}
@media (min-width:1160px){
    .row1{
        justify-content: space-evenly;
    }
    .row2{
        justify-content: space-evenly;
    }
    .image1{
        width: 38%;
        height: 20rem;
    }
    .image2{
        width: 38%;
        height: 20rem;
    }
}